/* menu */
body{
    height: 1000px;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#nav-menu{
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.281);
    position: fixed;
    padding-top:0px;
}
#ul-menu{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 50%;
    list-style: none;
}
.link-page{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 25px;
}

/* content */
#add-diary{
    height: 500px;
    width:70%;
    margin-top:100px;
    background-color: rgb(236, 133, 150);
    border-radius: 1rem;
    border-top-right-radius: 5rem;
}
ul{
    list-style: none;
}
#form-add-diaries{
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
#div-title{
    display: flex;
    flex-flow: column;
    margin-left: 2rem;
}
#div-content{
    display: flex;
    flex-flow: column;
    margin-left: 2rem;
}
#title-diary{
    width: 50%;
    border-radius: 0.5rem;
    border: 2px solid gray;
    outline: none;
}
#content-diary{
    width: 90%;
    border-radius: 0.5rem;
    border: 2px solid gray;
    outline: none;
}
#btn-add-diary{
    height: 50px;
    width: 110px;
    margin: auto;
    border-radius: 1.5rem;
    border: none;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    color: aliceblue;
    background-color: rgb(189, 16, 45);
}
#btn-add-diary:active{
    transform:translate(0,4px);
    box-shadow:0 4px gray;
}
.label-form{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}